<div class="modal-content" id="loadModalContent">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans %}DeleteModal.Reservation{% endtrans %}</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>{% trans %}DeleteModal.AreYouSureToDelete{% endtrans %}:</p>
        <p>{% trans %}DeleteModal.ReservationDetail.Treatment{% endtrans %}: <strong>{{ reservation.treatment }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.Operator{% endtrans %}: <strong>{{ reservation.operator }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.StartTime{% endtrans %}: <strong>{{ reservation.startTime | date }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.Duration{% endtrans %}: <strong>{{ reservation.duration | date('H:i') }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.EndTime{% endtrans %}: <strong>{{ reservation.endTime | date }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.Price{% endtrans %}: <strong>{{ reservation.money.value }} {{ reservation.money.currency }}</strong></p>
        <p>{% trans %}DeleteModal.ReservationDetail.VAT{% endtrans %}: <strong>{{ reservation.VAT }}%</strong></p>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                {% trans %}DeleteModal.Close{% endtrans %}
            </button>
        </div>
        {{ form(deleteReservationForm) }}
        {{ form_end(deleteReservationForm) }}
    </div>
</div>
