{% extends 'baseAdminAndStaff.html.twig' %}

{% block title %}Staff{% endblock %}

{% block sidebar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           href="{{ path('staff_dashboard') }}">
            <div class="mx-3">{% trans %}Menu.AppName{% endtrans %}</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('staff_dashboard') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>{% trans %}Menu.Dashboard{% endtrans %}</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Agenda -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('staff_calendar') }}">
                <i class="fas fa-fw fa-calendar-alt"></i>
                <span>{% trans %}Menu.Agenda{% endtrans %}</span>
            </a>
        </li>

        <!-- Nav Item - Reservations -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('staff_future_reservation_list') }}">
                <i class="fas fa-list fa-fw "></i>
                <span>{% trans %}Menu.Reservations{% endtrans %}</span></a>
        </li>

        <!-- Nav Item - Customers -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('staff_customer_list') }}">
                <i class="fas fa-users fa-fw "></i>
                <span>{% trans %}Menu.Customers{% endtrans %}</span></a>
        </li>

        <!-- Nav Item - Statistics -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('staff_statistics') }}">
                <i class="fas fa-chart-line fa-fw "></i>
                <span>{% trans %}Menu.Statistics{% endtrans %}</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>{% trans %}Menu.Configure.Configure{% endtrans %}</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">{% trans %}Menu.Configure.YouCanConfigure{% endtrans %}:</h6>
                    <a class="collapse-item"
                       href="{{ path('staff_treatment_list') }}">{% trans %}Menu.Configure.Treatments{% endtrans %}
                    </a>
                    <a class="collapse-item"
                       href="{{ path('staff_operator_list') }}">{% trans %}Menu.Configure.Operators{% endtrans %}
                    </a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Back to Home -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">
                <i class="fas fa-fw fa-home"></i>
                <span>{% trans %}Menu.Back to Home{% endtrans %}</span></a>
        </li>

        <!-- Nav Item - Logout -->
        <li class="nav-item">
            <a class="nav-link" href="#Logout" data-toggle="modal"
               data-target="#logoutModal">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>{% trans %}Menu.Logout{% endtrans %}</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- End of Sidebar -->
{% endblock %}

{% block topBar %}
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center disabled">
            <div class="mx-3">{{ app.user.spa.name }}</div>
        </a>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">


            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 ml-5 d-none d-inline text-gray-600 small">{{ app.user.name }} {{ app.user.lastname }}</span>
                    <i class="fas fa-caret-down"></i>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#Logout" data-toggle="modal"
                       data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans %}LogoutModal.Logout{% endtrans %}
                    </a>
                </div>
            </li>
        </ul>

    </nav>
    <!-- End of Topbar -->
{% endblock %}

{% block main %}
{% endblock %}

