{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-xl-4">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}SPAList.List{% endtrans %}</h6>
                </div>
                <div class="col-xl-4 count">
                    {% trans %}SPAList.TotalNumOfElements{% endtrans %}: {{ pagination.getTotalItemCount }}
                </div>
                <div class="col-xl-4 text-xl-right">
                    <a href="{{ path('admin_create_SPA') }}"
                       class="btn btn-success"
                       title="{% trans %}SPAList.AddSPA{% endtrans %}">
                        {% trans %}SPAList.AddSPA{% endtrans %}
                        <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-responsive-lg">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Name'|trans, 'x.name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Email'|trans, 'x.email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Address'|trans, 'x.address') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.PhoneNumber'|trans, 'x.phoneNumber') }}</th>
                            <th class="text-center">{% trans %}SPAList.Staff{% endtrans %}</th>
                            <th class="text-center">{% trans %}SPAList.Edit{% endtrans %}</th>
                            <th class="text-center">{% trans %}SPAList.Delete{% endtrans %}</th>
                        </tr>

                        {# table body #}
                        {% for spa in pagination %}
                            <tr>
                                <td>{{ spa.name }}</td>
                                <td>{{ spa.email }}</td>
                                <td>{{ spa.address }}</td>
                                <td>{{ spa.phoneNumber }}</td>
                                <td class="text-center">
                                    <a href="{{ path('admin_spa_info', {'spa' : spa.id}) }}"
                                       class="btn btn-success"
                                       title="{% trans %}SPAList.WatchStaff{% endtrans %} {{ spa.name }}">
                                        {{ spa.users | length }}
                                        <i class="fa fa-users ml-xl-2" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('admin_edit_SPA', {'spa' : spa.id}) }}"
                                       class="btn btn-warning"
                                       title="{% trans %}SPAList.Edit{% endtrans %} {{ spa.name }}">
                                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <!-- Button trigger modal -->
                                    <button type="button"
                                            class="btn btn-danger deleteButton"
                                            id="{{ spa.id }}"
                                            data-toggle="modal"
                                            data-target="#exampleModal"
                                            title="{% trans %}SPAList.Delete{% endtrans %} {{ spa.name }}">
                                        <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        <!-- Modal -->
                        {% include 'modal/LoadingModal.html.twig' %}

                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/delete-SPA.js') }}"></script>
{% endblock %}
