{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col col-lg-2">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}SPAList.List{% endtrans %}</h6>
                </div>
                <div class="col count">
                    {% trans %}SPAList.TotalNumOfElements{% endtrans %}: {{ pagination.getTotalItemCount }}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-responsive-lg">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Id'|trans, 's.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Name'|trans, 's.name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Email'|trans, 's.email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.Address'|trans, 's.address') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'SPAList.PhoneNumber'|trans, 's.phoneNumber') }}</th>
                            <th>{% trans %}SPAList.Manage{% endtrans %}</th>
                        </tr>

                        {# table body #}
                        {% for spa in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_spa_info', {'spa' : spa.id}) }}"
                                       title="watch {{ spa.name }}">{{ spa.id }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_spa_info', {'spa' : spa.id}) }}"
                                       title="watch {{ spa.name }}">{{ spa.name }}
                                    </a>
                                </td>
                                <td>{{ spa.email }}</td>
                                <td>{{ spa.address }}</td>
                                <td>{{ spa.phoneNumber }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-3 mb-md-1 mb-0 text-center">
                                            <!-- Button trigger modal -->
                                            <button type="button"
                                                    class="btn btn-danger deleteButton"
                                                    id="{{ spa.id }}"
                                                    data-toggle="modal"
                                                    data-target="#exampleModal"
                                                    title="{% trans %}SPAList.Delete{% endtrans %} {{ spa.name }}">
                                                <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="col-lg-3 mb-md-1 mb-0 text-center">
                                            <a href="{{ path('admin_edit_SPA', {'spa' : spa.id}) }}"
                                               class="btn btn-warning"
                                               title="{% trans %}SPAList.Edit{% endtrans %} {{ spa.name }}">
                                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 mb-md-1 mb-0 text-center">
                                            <a href="{{ path('admin_add_staff', {'spa' : spa.id}) }}"
                                               class="btn btn-primary"
                                               title="{% trans %}SPAList.AddStaffTo{% endtrans %} {{ spa.name }}">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 mb-md-1 mb-0 text-center">
                                            <a href="{{ path('admin_spa_info', {'spa' : spa.id}) }}"
                                               class="btn btn-success"
                                               title="{% trans %}SPAList.WatchStaff{% endtrans %} {{ spa.name }}">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        <!-- Modal -->
                        {% include 'modal/LoadingModal.html.twig' %}

                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/delete-SPA.js') }}"></script>
{% endblock %}
