{% extends 'staff/baseStaff.html.twig' %}

{% block main %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-xl-4">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}OperatorList.ListOfOperators{% endtrans %}</h6>
                </div>
                <div class="col-xl-4 count">
                    {% trans %}OperatorList.TotalNumOfElements{% endtrans %}: {{ pagination.getTotalItemCount }}
                </div>
                <div class="col-xl-4 text-xl-right">
                    <a href="{{ path('staff_create_operator') }}"
                       class="btn btn-success"
                       title="{% trans %}OperatorList.AddOperatorTo{% endtrans %} {{ app.user.spa.name }}">
                        {% trans %}OperatorList.AddOperator{% endtrans %}
                        <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-responsive-lg">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'OperatorList.Name'|trans, 'o.firstName') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'OperatorList.LastName'|trans, 'o.lastName') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'OperatorList.PhoneNumber'|trans, 'o.phoneNumber') }}</th>
                            <th>{% trans %}OperatorList.ActualReservations{% endtrans %}</th>
                            <th class="text-center">{% trans %}OperatorList.Edit{% endtrans %}</th>
                            <th class="text-center">{% trans %}OperatorList.Delete{% endtrans %}</th>
                        </tr>

                        {# table body #}
                        {% for operator in pagination %}
                            <tr>
                                <td>{{ operator.firstName }}</td>
                                <td>{{ operator.lastName }}</td>
                                <td>{{ operator.phoneNumber }}</td>
                                <td width="1">
                                    <div class="{{ operator.reservations | length == 0 ? 'alert-danger' : 'alert-success' }} rounded text-center">
                                        <strong>{{ operator.reservations | length }}</strong>
                                    </div>
                                </td>
                                <td width="1">
                                    <a data-test="edit-operator-{{ operator.id }}"
                                       href="{{ path('staff_edit_operator', {'operator' : operator.id}) }}"
                                       class="btn btn-warning"
                                       title="{% trans %}OperatorList.Edit{% endtrans %} {{ operator.firstName }}">
                                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td width="1">
                                    <!-- Button trigger modal -->
                                    <button type="button"
                                            class="btn btn-danger deleteButton"
                                            id="{{ operator.id }}"
                                            data-toggle="modal"
                                            data-target="#loadingModal"
                                            title="{% trans %}OperatorList.Delete{% endtrans %} {{ operator.firstName }}">
                                        <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        <!-- Modal -->
                        {% include 'modal/LoadingModal.html.twig' %}

                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/delete-Operator.js') }}"></script>
{% endblock %}
