{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block customStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/signin.css') }}">
{% endblock %}

{% block main %}
    <form method="POST" action="{{ path('app_login') }}" class="form-signin my-5">
        <h1 class="h3 my-3 font-weight-normal">{% trans %}Login.PleaseSignIn{% endtrans %}</h1>
        <label for="inputEmail" class="sr-only">{% trans %}Login.EmailAddress{% endtrans %}</label>
        <input data-test="login-email" type="email" name="email" id="inputEmail" class="form-control my-3" placeholder="{% trans %}Login.EmailAddress{% endtrans %}" required
               autofocus>
        <label for="inputPassword" class="sr-only">{% trans %}Login.Password{% endtrans %}</label>
        <input data-test="login-password" type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Login.Password{% endtrans %}" required>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <button data-test="login-button" class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Login.SignIn{% endtrans %}</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
