{% extends 'staff/baseStaff.html.twig' %}

{% block main %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-xl-4">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans %}TreatmentList.ListOfTreatments{% endtrans %}</h6>
                </div>
                <div class="col-xl-4 count">
                    {% trans %}TreatmentList.TotalNumOfElements{% endtrans %}: {{ pagination.getTotalItemCount }}
                </div>
                <div class="col-xl-4 text-xl-right">
                    <a href="{{ path('staff_create_treatment') }}"
                       class="btn btn-success"
                       title="{% trans %}TreatmentList.AddTreatmentTo{% endtrans %} {{ app.user.spa.name }}">
                        {% trans %}TreatmentList.AddTreatment{% endtrans %}
                        <i class="fa fa-plus ml-2" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-responsive-md">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'TreatmentList.Name'|trans, 't.name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'TreatmentList.Price'|trans, 't.money') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'TreatmentList.Duration'|trans, 't.duration') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'TreatmentList.VAT'|trans, 't.vat') }}</th>
                            <th class="text-center">{% trans %}TreatmentList.Edit{% endtrans %}</th>
                            <th class="text-center">{% trans %}TreatmentList.Delete{% endtrans %}</th>
                        </tr>

                        {# table body #}
                        {% for treatment in pagination %}
                            <tr>
                                <td>{{ treatment.name }}</td>
                                <td>{{ treatment.money.value }}</td>
                                <td>{{ treatment.duration | date('H:i') }}</td>
                                <td>{{ treatment.vat }}</td>
                                <td width="1">
                                    <a href="{{ path('staff_edit_treatment', {'treatment' : treatment.id}) }}"
                                       class="btn btn-warning"
                                       title="{% trans %}TreatmentList.Edit{% endtrans %} {{ treatment.name }}">
                                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td width="1">
                                    <!-- Button trigger modal -->
                                    <button type="button"
                                            class="btn btn-danger deleteButton"
                                            id="{{ treatment.id }}"
                                            data-toggle="modal"
                                            data-target="#loadingModal"
                                            title="{% trans %}TreatmentList.Delete{% endtrans %} {{ treatment.name }}">
                                        <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        <!-- Modal -->
                        {% include 'modal/LoadingModal.html.twig' %}

                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/delete-Treatment.js') }}"></script>
{% endblock %}
