<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/build/style.vendor.css') }}">
    {% endblock %}
</head>

<body class="text-center">
<div class="container-fluid">

    {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="{{ path('home') }}">SlopeSPA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mr-lg-2 mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                {% if  not app.user %}
                    <a class="btn btn-outline-primary" href="{{path('login')}}">Sign in</a>
                {% endif %}
            </div>
        </nav>
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
        Footer
    {% endblock %}

</div>
{% block customjavascripts %}
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
