<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% block customStylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/build/style.vendor.css') }}">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
              rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('/build/css/one-page-wonder.css') }}" rel="stylesheet">
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>

<body class="text-center">

{% block menu %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">Slope SPA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_STAFF') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Your SPA</a>
                        </li>
                    {% endif %}
                    {% if  app.user %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Logged
                                as {{ app.user.name }} {{ app.user.lastname }}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
                        </li>
                    {% endif %}
                    {% if not app.user and app.request.get('_route') == 'home' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                    {% elseif app.request.get('_route') == 'app_login' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block customJavascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('build/js/one-page-wonder.js') }}"></script>
{% endblock %}

</body>

</html>
